In [1]:
#importation des bibliothéque 
import statsmodels.formula.api as s
from sklearn.linear_model import LinearRegression
from sklearn.metrics import confusion_matrix,accuracy_score
from matplotlib import pyplot as plt
from sklearn.model_selection import train_test_split
import numpy as np
import pandas as pd
import datetime

from sklearn.preprocessing import LabelEncoder
from mlxtend.preprocessing import minmax_scaling
#importation base de donnée
# df = pd.read_csv('/content/drive/MyDrive/stageASM/dataset.csv',header=None)

In [24]:
df = pd.read_csv(r'C:\Users\rabi3\OneDrive\Bureau\freelance\DataSets\Fixing-ML-models_freelancing_Datasets/dataset.csv')

# for testing
dff = df

In [73]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 866266 entries, 0 to 1048571
Data columns (total 4 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   ART_Designation  866266 non-null  object
 1   price            866266 non-null  float64
 2   ddm              866266 non-null  object
 3   qte              866266 non-null  int64
dtypes: float64(1), int64(1), object(2)
memory usage: 33.0+ MB

In [ ]:
le = LabelEncoder()
df["ART_code"] = le.fit_transform(df["ART_Designation"])

In [ ]:
# mix-max scale the data between 0 and 1
# minmax_scaling is a function loaded from library
df['scaled_data']= minmax_scaling(df["ART_code"] , columns=[0])

In [69]:
# number Of Prodect
df['ART_Designation'].value_counts().count()

6679

In [10]:
# delete product with negative quantity
def delete_Qte_Negative (df):
    return df[df['qte']>0]

In [11]:
# delete product with negative price
def delete_Price_Negative (df):
    return df[df['price']>0]

In [112]:
df = delete_Qte_Negative (df)
df = delete_Price_Negative (df)

In [111]:
df =dff

In [64]:
# ust for testing 
# display the number of a single prodect by quantity
df2 = df.groupby(['ART_Designation','qte']).filter(lambda x : len(x)>10)
df2[df2['ART_Designation']=="EAU M. SAFIA 1.5L /QT6"]["qte"].value_counts()

1     282
6     263
2     194
12    129
3      57
4      51
18     36
24     15
5      12
Name: qte, dtype: int64

In [71]:
# nfaskhou les produits eli ma tbe3oush barsha
# mathalan produit tbe3 mara wa7da fi dataset fiha malyoun vente lazem yetfasakh khater yetsama outliers w ynjaem 
# y8altelna el model 
#  we delete products which had been sold less than 50 times in the dataset
def delete_Outliers(df):
    return df.groupby('ART_Designation').filter(lambda x : len(x)>50)

In [66]:
#  we delete << foreach product >> products which had been sold less than 10 times "grouped by quantity"  in the dataset
def delete_product_Outliers(df):
    return df.groupby(['ART_Designation','qte']).filter(lambda x : len(x)>10)

In [113]:
df = delete_Outliers(df)
df = delete_product_Outliers(df)

In [ ]:
df['day'] = pd.DatetimeIndex(df['ddm']).day
df['month'] = pd.DatetimeIndex(df['ddm']).month

In [109]:
df

,ART_Designation,price,ddm,qte,ART_code,day,month,scaled_data
0,EAU M. SAFIA 1.5L /QT6,0.60,31/12/2021,2,5381,31,12,0.376136
1,FLEURE B30 SANS FEUILLE,4.80,31/12/2021,1,5922,31,12,0.413952
2,CAKE TODAY SNOWBALL 24P /CT144,0.70,31/12/2021,1,2480,31,12,0.173354
3,CIRAGE VILO CREME 60ML,2.15,31/12/2021,1,3449,31,12,0.241088
4,THON BIBENE 400G HV /CT24,6.20,31/12/2021,2,13256,31,12,0.926604
...,...,...,...,...,...,...,...,...
1048570,GAUFRETTE LINGOT,1.60,20/10/2021,1,6297,20,10,0.440165
1048571,BISCUIT MAXON 6P CACAO 55G,0.90,20/10/2021,2,1438,20,10,0.100517
1048572,CHOCOLAT LOVE DRAGE 80GR,1.20,20/10/2021,1,3235,20,10,0.226129
1048573,CAKE DONUT TODAY BLUE BERRY 45G,0.65,20/10/2021,1,2429,20,10,0.169789
1048574,SERPILLIERE COTON 505,7.50,20/10/2021,1,12067,20,10,0.843492

In [115]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df["ART_code"] = le.fit_transform(df["ART_Designation"])

# mix-max scale the data between 0 and 1
from mlxtend.preprocessing import minmax_scaling
df['scaled_data']= minmax_scaling(df["ART_code"] , columns=[0])

c:\Users\rabi3\AppData\Local\Programs\Python\Python310\lib\site-packages\mlxtend\preprocessing\scaling.py:40: FutureWarning: Support for multi-dimensional indexing (e.g. `obj[:, None]`) is deprecated and will be removed in a future version.  Convert to a numpy array before indexing instead.
  ary_new = ary_new[:, np.newaxis]

In [117]:
df[df['ART_Designation']=="EAU M. SAFIA 1.5L /QT6"]

,ART_Designation,price,ddm,qte,ART_code,day,month,scaled_data
0,EAU M. SAFIA 1.5L /QT6,0.600,31/12/2021,2,1256,31,12,0.395217
104,EAU M. SAFIA 1.5L /QT6,0.600,31/12/2021,12,1256,31,12,0.395217
327,EAU M. SAFIA 1.5L /QT6,0.600,31/12/2021,3,1256,31,12,0.395217
876,EAU M. SAFIA 1.5L /QT6,0.600,31/12/2021,18,1256,31,12,0.395217
996,EAU M. SAFIA 1.5L /QT6,0.600,31/12/2021,1,1256,31,12,0.395217
...,...,...,...,...,...,...,...,...
859865,EAU M. SAFIA 1.5L /QT6,0.600,01/02/2022,6,1256,2,1,0.395217
860046,EAU M. SAFIA 1.5L /QT6,0.583,01/02/2022,1,1256,2,1,0.395217
861395,EAU M. SAFIA 1.5L /QT6,0.600,01/01/2022,6,1256,1,1,0.395217
862197,EAU M. SAFIA 1.5L /QT6,0.600,01/01/2022,1,1256,1,1,0.395217
862257,EAU M. SAFIA 1.5L /QT6,0.600,01/01/2022,2,1256,1,1,0.395217