In [30]:
#importation des bibliothéque 
import statsmodels.formula.api as s
from sklearn.linear_model import LinearRegression
from sklearn.metrics import confusion_matrix,accuracy_score
from matplotlib import pyplot as plt
from sklearn.model_selection import train_test_split
import numpy as np
import pandas as pd
import datetime
#importation base de donnée
# df = pd.read_csv('/content/drive/MyDrive/stageASM/dataset.csv',header=None)

dff = pd.read_csv('dataset.csv')

In [44]:
# besh ma nab9aash kol mara nloadi fl dataframe mn el pc nwali nahedhha mena toul asra3
df = dff

In [32]:
df.head(2)

           ART_Designation  price         ddm  qte
0   EAU M. SAFIA 1.5L /QT6    0.6  31/12/2021    2
1  FLEURE B30 SANS FEUILLE    4.8  31/12/2021    1

In [45]:
df['ART_Designation'].value_counts().count()

14307

In [34]:
df[df['ART_Designation']=="POIS CHICHE LABLEBI"]["qte"].value_counts()

1     2744
2     1200
3      823
4      557
5      375
10     355
25     131
6      122
7       90
8       79
12      76
15      24
9       21
50      15
20      13
13      10
14       9
17       8
11       7
30       6
16       2
19       2
35       2
40       2
21       2
46       1
22       1
27       1
23       1
24       1
18       1
29       1
Name: qte, dtype: int64

In [71]:
df[df['ART_Designation']=="EAU M. SAFIA 1.5L /QT6"]["qte"].value_counts()

1     282
6     263
2     194
12    129
3      57
4      51
18     36
24     15
5      12
30      8
48      3
7       2
96      1
36      1
13      1
60      1
Name: qte, dtype: int64

In [36]:
dff.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 4 columns):
 #   Column           Non-Null Count    Dtype
---  ------           --------------    -----
 0   ART_Designation  1048575 non-null  object
 1   price            1048575 non-null  float64
 2   ddm              1048575 non-null  object
 3   qte              1048575 non-null  int64
dtypes: float64(1), int64(1), object(2)
memory usage: 32.0+ MB

In [29]:
# delete product with negative quantity
def delete_Qte_Negative (df):
    df = df[df['qte']>0]

In [ ]:
# delete product with negative price
def delete_Price_Negative ():
    df = df[df['price']>0]

In [62]:
# nfaskhou les produits eli ma tbe3oush barsha
# mathalan produit tbe3 mara wa7da fi dataset fiha malyoun vente lazem yetfasakh khater yetsama outliers w ynjaem 
# y8altelna el model 
def delete_Outliers(df):
    return df.groupby('ART_Designation').filter(lambda x : len(x)<50)

In [63]:
dfff = delete_Outliers(df)

In [64]:
dfff['ART_Designation'].value_counts().count()

11080

In [55]:
dfff.groupby(['ART_Designation','qte'])
# .value_counts()
# .filter(lambda x : len(x)<15)
# dfff['ART_Designation'].value_counts().count()

In [68]:
def delete_prodect_Outliers(df):
    return df.groupby(['ART_Designation','qte']).filter(lambda x : len(x)<15)

In [69]:
fff = delete_prodect_Outliers(dfff)

In [70]:
fff['ART_Designation'].value_counts().count()

10580

In [74]:
fff.shape[0]

63098

In [72]:
fff[fff['ART_Designation']=="EAU M. SAFIA 1.5L /QT6"]["qte"].value_counts()

Series([], Name: qte, dtype: int64)

In [75]:
fff[fff['ART_Designation']=="EAU M. SAFIA 1.5L /QT6"]

Empty DataFrame
Columns: [ART_Designation, price, ddm, qte]
Index: []

In [ ]:
def splitDate (d):
    pass

In [ ]:
def norlmalisation ():
    pass